/*----------页面的公共样式部分----------------------*/

/*---------版心---------------*/
.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
/*----顶部导航条------*/
.header {
    width: 100%;
    position: absolute;
    height: 100px;
}

.header .logo {
    width: 210px;
    float: left;
    margin: 20px 0 0 20px;
}

.header .logo a {
    margin: 20px auto;
}

.header .nav {
    list-style: none;
    position: absolute;
    right: 0;
    top: 0;

}

.header .nav li {
    float: left;
    height: 100px;
    width: 100px;
}

.header .nav li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    height: 100px;
    width: 100px;
    line-height: 100px;
    font-size: 16px;
    color: #FFFFFF;
}

/*悬停添加属性*/
.header .nav li:hover a {
    color: royalblue;
    border-bottom: 3px solid #fff;
}

/*点击时添加属性*/
.header .nav li a.active {
    border-bottom: 3px solid #fff;
}

/*------------底部脚注--------------*/

.footer {
    width:100%;
    bottom:0;
    position: absolute;
    background-color: #e1e1e1;
    padding: 30px 0;
    overflow: hidden;
    color: #726D73;
}
.ul_box{
    margin:20px;
}
.footer ul{
    margin:0 auto;
    width: 40%;
}
.footer ul li{
    width: 25%;
    font-size: 16px;
    padding:5px 20px;
    color: #333;
    float: left;
}
.footer ul li{
    border-right:1px solid #ccc;
}
.footer ul li:nth-child(4){
    border-right:0;
}
.footer ul li:hover a{
    border-bottom: 1px solid #3c3c3c;
}
.copyright{
    font-size: 12px;
    text-align: center;
    line-height:20px;
    padding: 5px;
}
.logo_img{
    width: 210px;
    height: 80px;
}
